<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BLOOM Moda y Estilo - Registrate</title>
    <link rel="shortcut icon" href="./../assets/icons/icono.png" type="image/x-icon">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../registro/registro.css">
</head>

<section class="section-register">
  <div class="formulario">
    <h1>Registro</h1>
    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" name="nombre" required>

    <label for="apellido">Apellido:</label>
    <input type="text" id="apellido" name="apellido" required>

    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required>

    <label for="password">Contraseña:</label>
    <input type="password" id="password" name="password" required>

    <label for="confirm-password">Confirmar Contraseña:</label>
    <input type="password" id="confirm-password" name="confirm-password" required>

    <div class="fecha-nacimiento">
        <label for="dia" style="text-align: right; margin-right: 10px;">Día:</label>
        <input type="text" id="dia" name="dia" placeholder="DD" maxlength="2" size="2" required>
    
        <label for="mes" style="text-align: right; margin-right: 10px;">Mes:</label>
        <input type="text" id="mes" name="mes" placeholder="MM" maxlength="2" size="2" required>
    
        <label for="anio" style="text-align: right; margin-right: 10px;">Año:</label>
        <input type="text" id="anio" name="anio" placeholder="AAAA" maxlength="4" size="4" required>
    </div>

    <label for="ciudad">Pais:</label>
    <input type="text" id="Pais" name="Pais">

    <input type="submit" value="Registrarse">
  </div>
</section>